name: iOS Build (React Native)

on:
  push:
    branches: [ main ]

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      # 1. Checkout source
      - name: Checkout source
        uses: actions/checkout@v4

      # 2. Setup Node.js (PHẢI là 16)
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 16

      # 3. Install JS dependencies
      - name: Install JS dependencies
        run: npm install

      # 4. Install CocoaPods
      - name: Clean Pods cache and install
        run: |
          cd ios
          pod deintegrate
          rm -rf Pods Podfile.lock
          pod install --repo-update

      # 5. Build iOS (NO signing, simulator only)
      - name: Build iOS (no signing)
        run: |
          cd ios
          xcodebuild \
            -workspace iosGithubAction.xcworkspace \
            -scheme iosGithubAction \
            -sdk iphonesimulator \
            -configuration Debug \
            build \
            CODE_SIGNING_ALLOWED=NO
